{% extends 'base.html.twig' %}

{% block html %}
<html lang="en">      

{% block head %}
 

   <head>
          <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
         name="Travelly"
         content="Travelly is an agency that helps you to find your dream travel"
         />
      <meta name="robots" content="index,follow" />
      <link rel="icon" href="{{ asset('/icons/voyages.svg') }}" />
      {% block stylesheets %}
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
         rel="stylesheet"
         />
      {% endblock %}
      {% block javascripts %}
      <script src="{{ asset('assets/js/script.js') }}" defer></script>
      <script src="{{ asset('assets/js/login-popup.js') }}" defer></script>
      {% endblock %}
   </head>
{% endblock %}


      {% block body %}
<body>

     <header class="main-head">
           {% include "_partials/_nav.html.twig" %}
         <!-- pop up login-->
         <div class="pop-up">
            <div class="close-btn">&times;</div>
            <div class="form">
               <h2>Login</h2>
               <form id="login-form" method="post">
                  <div class="form-element">
                     <label for="email">Email</label>
                     <input type="email" name="email" id="email" placeholder="Entrez votre email">
                  </div>
                  <div class="form-element">
                     <label for="password">Mot de passe</label>
                     <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe">
                  </div>
                  <div class="form-element">
                     <input type="checkbox" name="remember_me" id="remember-me">
                     <label for="remember-me">Se souvenir</label>
                  </div>
                  <div class="form-element">
                     <button type="submit">Connexion</button>
                  </div>
               </form>
               <div class="form-element">
                  <a href="#">Mot de passe oublié ?</a>
               </div>
            </div>
         </div>
         <!-- fin pop up login-->
         <!-- pop up signup-->
         <div class="pop-up2">
            <div class="close-btn2">&times;</div>
             <div class="form">
               <h2>Inscrivez-vous</h2>
                  <form id="signup-form" method="post" action="{{ path('app_register') }}" enctype="multipart/form-data">
                     <div class="form-element">
                        <label for="email">Adresse Mail</label>
                        {{ form_widget(formRegister.email, {'attr': {'placeholder': 'Entrez votre email'}}) }}
                     </div>
                     <div class="form-element">
                        <label for="password">Mot de passe</label>
                        {{ form_widget(formRegister.plainPassword, {'attr': {'placeholder': 'Entrez votre mot de passe'}}) }}
                     </div>
                     <div class="form-element">
                        <label for="lastname">Nom</label>
                        {{ form_widget(formRegister.lastname, {'attr': {'placeholder': 'Entrez votre nom'}}) }}
                     </div>
                     <div class="form-element">
                        <label for="firstname">Prénom</label>
                        {{ form_widget(formRegister.firstname, {'attr': {'placeholder': 'Entrez votre prénom'}}) }}
                     </div>
                     <div class="form-element">
                        <label for="address">Adresse</label>
                        {{ form_widget(formRegister.address, {'attr': {'placeholder': 'Entrez votre adresse'}}) }}
                     </div>
                     <div class="form-element">
                        {{ form_widget(formRegister.agreeTerms) }}
                        {{ form_label(formRegister.agreeTerms) }}
                     </div>
                     <div class="form-element">
                        <button type="submit">Envoyer</button>
                     </div>
                     {{ form_rest(formRegister) }}
                     {{ form_end(formRegister, {'render_rest': false}) }}
                  </form>
            </div>
          </div>
         </div>
         <!-- fin pop up signup-->
      </header>
      <section class="hero">
         <h2 class="test">Travel beyond limits.</h2>
         <h3>
            Start travelling to world best places at an affordable price with Travel'oori
            <br />
            check it bellow 
         </h3>
         <button class="bubbly-button">See offers</button>
      </section>
      <section class="hero-2">
         <h2 class="test">Travel beyond limits.</h2>
         <h3>
            Discover Florence, a beautiful and enchanting city that captivates with its artistic beauty, 
            <br />
            historic architecture, and romantic atmosphere.
         </h3>
         <button class="bubbly-button">See offers</button>
      </section>
      <section id="benefices">
         <header class="benefices-head">
         </header>
      </section>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{{ asset('assets/js/auth.js') }}"></script>

    </body>
      {% endblock %}

</html>

{% endblock %}
