<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Traveloory | Travel agency{% endblock %}</title>
        <link rel="icon" href="{{ asset('/icons/voyage.svg') }}" />
        <meta name"viewport" content="width=device-width, initial-scale=1.0">

        <!-- style sheets -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        <!-- js files -->
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}
        <script src="{{ asset('assets/js/script.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}  
        {% endblock %}
    </body>
</html>
