{% extends 'base.html.twig' %}
{% block html %}
<html>
<head>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
        {% endblock %}
</head>
   {% block body %}
<body>
    <div class="banner-container">
        <div class="banner banner-1"></div>
        <div class="banner banner-2"></div>
        <div class="banner banner-3"></div>
        <div class="glass"></div>
        <div class="banner-title-container">
            <h1>"Voyager, c'est s'ouvrir à l'infini des possibles et s'émerveiller de la beauté du monde."</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Destination" class="search-input">
            <input type="text" placeholder="Départ de" class="search-input">
            <input type="date" placeholder="Date" class="search-input">
            <select class="search-input">
                <option value="" disabled selected>Type séjour</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
            <button class="search-button">Rechercher</button>
        </div>
    </div>
      <header class="main-head">
        <nav>
        <h1 id="logo">Travel'oori</h1>
        <ul>
            <div class="top-btn">
            <button>
                <li>
                <img src="/icons/coeur.svg" alt="Nos offres" class="my-svg-icon">
                Nos offres
                </li>
            </button>
            </div>
            <div class="top-btn">
            <button>
                <li id="show-signin">
                <img src="/icons/document.svg" alt="Commandes" class="my-svg-icon">
                Commandes
                </li>
            </button>
            </div>
            <div class="top-btn">
            <button>
                <li id="show-login">
                <img src="/icons/utilisateur.svg" alt="Mon compte" class="my-svg-icon">
                Mon compte
                </li>
            </button>
            </div>
            {% if app.user %}
                <div class="top-btn">
                    <a href="{{ path('app_logout') }}">
                        <li id="déco">
                            <img src="/icons/sortir.svg" alt="Déconnexion" class="my-svg-icon">
                        </li>
                    </a>
                </div>
            {% endif %}
            </div>
        </ul>
        </nav>
      </header>
        <section class="partners">
        <div class="partners-logos">
            <img src="{{ asset('/icons/qatar-airways.svg') }}" alt="Qatar">
            <img src="{{ asset('/icons/accor.svg') }}" alt="Accor">
            <img src="{{ asset('/icons/airbnb.svg') }}" alt="Airbnb">
            <img src="{{ asset('/icons/air-france.svg') }}" alt="Air France">
            <!-- Ajoutez d'autres logos de partenaires ici -->
        </div>
        </section>
        <section class="recommandation">
        <div class="text-simple">
            <p> Toutes nos ventes triées par recommandation</P>
        </div>
        </section>
        <section class="offers">
        <div class="offer-row">
            <div class="offer-box">
                <img src="{{ asset('/img/atol-maldives.jpg') }}" alt="offer image">
                <h3>MALDIVES / ATOL DE RAA</h3>
                <p>Allégresse absolue en villa sur la plage ou sur l'eau en tout inclus</p>
                <p>Hôtel Brennia Kottefaru Maldives 5*</p>
            </div>
            <div class="offer-box">
                <img src="{{ asset('/img/barca.jpg') }}" alt="offer image">
                <h3>BARCELONE / la ville la plus adorée</h3>
                <p>Allégresse absolue en villa sur la plage ou sur l'eau en tout inclus</p>
                <p>Hôtel Brennia Kottefaru Maldives 5*</p>
            </div>
        <div class="offer-row">
            <div class="offer-box">
                <img src="{{ asset('/img/bali.jpg') }}" alt="offer image">
                <h3>BALI / Tumourna</h3>
                <p>Des plages de rêve, des champs et des plantations d'un vert intense, une jungle dense, des temples et des palais somptueux</p>
                <p>Hôtel Kakoutolo 5*</p>
            </div>
            <div class="offer-box">
                <img src="{{ asset('/img/islande.jpg') }}" alt="offer image">
                <h3>ISLANDE / Árbæjarhellir </h3>
                <p>Cette lagune glaciaire et sa plage de diamants, à la limite du parc national, font partie des plus beaux sites du pays</p>
                <p>Auberge Loa's Nest</p>
            </div>
        </div>
        <div class="offer-row">
            <div class="offer-box">
                <img src="{{ asset('/img/atol-maldives.jpg') }}" alt="offer image">
                <h3>MALDIVES / ATOL DE RAA</h3>
                <p>Allégresse absolue en villa sur la plage ou sur l'eau en tout inclus</p>
                <p>Hôtel Brennia Kottefaru Maldives 5*</p>
            </div>
            <div class="offer-box">
                <img src="{{ asset('/img/atol-maldives.jpg') }}" alt="offer image">
                <h3>MALDIVES / ATOL DE RAA</h3>
                <p>Allégresse absolue en villa sur la plage ou sur l'eau en tout inclus</p>
                <p>Hôtel Brennia Kottefaru Maldives 5*</p>
            </div>
        </div>
        <div class="offer-row">
            <div class="offer-box">
                <img src="{{ asset('/img/atol-maldives.jpg') }}" alt="offer image">
                <h3>MALDIVES / ATOL DE RAA</h3>
                <p>Allégresse absolue en villa sur la plage ou sur l'eau en tout inclus</p>
                <p>Hôtel Brennia Kottefaru Maldives 5*</p>
            </div>
            <div class="offer-box">
                <img src="{{ asset('/img/atol-maldives.jpg') }}" alt="offer image">
                <h3>MALDIVES / ATOL DE RAA</h3>
                <p>Allégresse absolue en villa sur la plage ou sur l'eau en tout inclus</p>
                <p>Hôtel Brennia Kottefaru Maldives 5*</p>
            </div>
        </div>
        </section>
          {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset('assets/js/banner.js') }}" defer></script>
    {% endblock %}
   </body>
   {% endblock %}
</html>
{% endblock %}